* {
    box-sizing: border-box; 
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
  }
  #main {
    display: flex;
    flex: 1;
  }
  #main > article {
    flex: 1;
  }
  #main > nav{
    flex: 0 0 1vw;
    background: #010F10;
  }
  #main > aside {
    flex: 0.5;
    background: white;
  }
  #main > nav {
    order: -1;
  }

  header {
    background: #010F10;
    height: 2vh;
  }
  footer{
      background: #010F10;
      height: 4vh;
  }
  header, footer, article, nav, aside {
    padding: 1em;
  }
  #minu {
      border: 0;
      display: flex;
      flex: 0%;
  }
  .flex-container {
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
  }
  
  .flex-container > div {
    border-color: #010F10;
    border-style: solid;
    background-color: whitesmoke;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
  }
  #maindos {
    display: flex;
    justify-content: space-around;
    background-color: #010F10;
  }
  #maindos > article {
    flex: 1;
  }
  .categoria {
    display:flex;
    direction: wrap;
    justify-content: space-evenly;
  }
 