* {
    box-sizing: border-box; 
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
  }
  #main {
    display: flex;
    flex: 1;
  }
  #main > article {
    flex: 1;
  }
  #main > nav, 
  #main > aside {
    flex: 0 0 3vw;
    background: #5E5E5E;
  }
  #main > nav {
    order: -1;
  }

  header {
    background: #00DCE4;
    height: 5vh;
  }
  footer{
      background: #00DCE4;
      height: 5vh;
  }
  header, footer, article, nav, aside {
    padding: 1em;
  }
  #minu {
      border: 0;
      display: flex;
      flex: 0%;
  }
  .flex-container {
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    background-color: #00DCE4;
  }
  
  .flex-container > div {
    background-color: whitesmoke;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
  }